candlepin.consumer_system_name_pattern=.+
candlepin.environment_content_filtering=true
candlepin.auth.basic.enable=false
candlepin.auth.trusted.enable=false

candlepin.audit.hornetq.config_path=/etc/candlepin/broker.xml
#candlepin.audit.hornetq.embedded=false
#candlepin.autit.hornetq.broker_url=${BROKER_URL}

candlepin.auth.oauth.enable=true
candlepin.auth.oauth.consumer.katello.secret=${KATELLO_OAUTH_SECRET}

module.config.adapter_module=org.candlepin.katello.KatelloModule

candlepin.ca_key=/etc/candlepin/certs/candlepin-ca.key
candlepin.ca_cert=/etc/candlepin/certs/candlepin-ca.crt
candlepin.crl.file=/var/lib/candlepin/candlepin-crl.crl

candlepin.async.jobs.ExpiredPoolsCleanupJob.schedule=0 0 0 * * ?

log4j.logger.org.hibernate.internal.SessionImpl=ERROR

jpa.config.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
jpa.config.hibernate.connection.driver_class=org.postgresql.Driver
jpa.config.hibernate.hbm2ddl.auto=validate
jpa.config.hibernate.connection.url=${POSTGRES_URL}
jpa.config.hibernate.connection.username=${POSTGRES_USER}
jpa.config.hibernate.connection.password=${POSTGRES_PASSWORD}


org.quartz.jobStore.misfireThreshold=60000
org.quartz.jobStore.useProperties=false
org.quartz.jobStore.dataSource=myDS
org.quartz.jobStore.tablePrefix=QRTZ_
org.quartz.jobStore.class=org.quartz.impl.jdbcjobstore.JobStoreTX
org.quartz.jobStore.driverDelegateClass=org.quartz.impl.jdbcjobstore.PostgreSQLDelegate

org.quartz.dataSource.myDS.driver=org.postgresql.Driver
org.quartz.dataSource.myDS.URL=${POSTGRES_URL}
org.quartz.dataSource.myDS.user=${POSTGRES_USER}
org.quartz.dataSource.myDS.password=${POSTGRES_PASSWORD}
org.quartz.dataSource.myDS.maxConnections=5
