<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container" type="org.apache.catalina.UserDatabase" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" pathname="conf/tomcat-users.xml"/>
  </GlobalNamingResources>

  <Service name="Catalina">
    <Connector port="8443" address="0.0.0.0" protocol="HTTP/1.1" scheme="https" secure="true" SSLEnabled="true" maxThreads="150" >
      <SSLHostConfig caCertificateFile="/var/run/secrets/tomcat/ca.crt" certificateVerification="optional" sslProtocol="TLS" protocols="+TLSv1,+TLSv1.1,+TLSv1.2">
        <Certificate certificateFile="/var/run/secrets/tomcat/tls.crt" certificateKeyFile="/var/run/secrets/tomcat/tls.key" type="RSA" />
      </SSLHostConfig>
    </Connector>
    
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase" />

      <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="/proc/self/fd" prefix="1" rotatable="false" suffix="" pattern="%h %l %u %t &quot;%r&quot; %s %b &quot;&quot; &quot;%{user-agent}i sm/%{x-subscription-manager-version}i&quot; &quot;req_time=%T,req=%{requestUuid}r&quot;" resolveHosts="false" />
      </Host>
    </Engine>
  </Service>
</Server>
